{% extends "base.html" %}

{% block title %}Luis Peralta{% endblock %}

{% block content %}
<div class="text-center">
    <img src="https://freight.cargo.site/w/1424/q/94/i/369c57defe75b7f3ab20f631a6c37ab127c1ba9deb8799b105b0357984292fa2/Screen-Shot-2022-06-25-at-9.20.32-AM.png" alt="My Photo" class="mb-4" width="600" height="300" style="object-fit: cover;">
  <h1>Luis Manuel Peralta</h1>
  <p class="lead">  Luis Peralta is a 23-year-old pianist from Oakland, California now living in Brooklyn, New York. He began playing piano at seven, embarking quickly on a serious study of European Classical and Jazz music. In 2019, Luis was awarded a full scholarship to study piano at the New School, where he is pursuing a dual-degree BFA in Jazz Studies and BA in Psychology. In his hometown he studied and worked with Bay Area musicians such as Howard Wiley, Geechi Taylor, Marcus Shelby, and Darrell Green. In New York City, he has played with Wallace Roney Jr., Rodney Green, Russell Hall, Darrell Green at venues such as Smalls Jazz Club, Mezzrow, Bar Lunatico, the Django, Cellar Dog, and NuBlu.
    </p>
    <div class="mt-4">
        <a href="https://instagram.com/l.uis" target="_blank" class="btn btn-outline-dark me-2">
          Instagram
        </a>
      
        <a href="mailto:luisperaltamusic@gmail.com" class="btn btn-outline-primary">
          Email Me
        </a>  
      </div>

      <h1> 
        -
       </h1>

      <div class="d-flex justify-content-center">
        <div style="max-width: 540px; width: 100%;">
          <blockquote class="instagram-media"
                      data-instgrm-permalink="https://www.instagram.com/p/C7ufjnjyPyH/"
                      data-instgrm-version="14"
                      style="margin: 0 auto; width: 100%; border: 0; padding: 0;">
          </blockquote>
        </div>
      </div>
      
      <script async src="//www.instagram.com/embed.js"></script>
      
      
</div>
{% endblock %}